.newcomers {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }
  &__table-container {
    height: 82vh;
    overflow-y: scroll;
    &__inner-container {
      border-radius: 7px;
      width: 100%;
      table {
        width: 100%;
      }
    }
  }
}
