.newcomers {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }
  &__table-container {
    height: 81vh;
    overflow-y: scroll;
    &__inner-container {
      width: 100%;
      padding: 0 0.25rem;
      table {
        width: 100%;
      }
    }
  }
}
