@import "~antd/dist/antd.dark.css";

:root {
  --odd-tr: #9a9fa226;
  --mawkef-color: linear-gradient(to right, #141e30, #243b55);
  --raft-color: linear-gradient(to right, #a73737, #7a2828);
  --navbar-height: 46px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.spinner-container {
  margin: auto;
}
