@import "~antd/dist/antd.less";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.table {
  td {
    &:not(:last-child) {
      border-left: solid 1px;
    }
    padding: 0.25rem;
  }

  th {
    &:not(:last-child) {
      border-left: solid 1px;
    }
    border-bottom: solid 1px;
    padding: 0.25rem;
  }

  tr {
    &:not(:last-child) {
      border-bottom: solid 1px;
    }
  }
}
