table {
  --border-radius: 7px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  td,
  th {
    padding: 0.25rem;
  }

  th {
    &:first-child {
      border-top-right-radius: var(--border-radius);
    }
    &:last-child {
      border-top-left-radius: var(--border-radius);
    }
    text-align: start;
    position: sticky;
    top: -1rem;
    background: #243b55;
  }

  tbody {
    tr {
      height: 2rem;
      box-sizing: border-box;
      &:hover {
        border: 1px solid #165996;
      }
      &:nth-child(odd) {
        background-color: var(--odd-tr);
      }
      &.mawkef-teby {
        background: var(--mawkef-color);
        color: white;
      }

      &.raft-teby {
        background: var(--raft-color);
        color: white;
      }
    }
  }
}
